<div ng-controller="indexController" class="container">
  <!-- display all post titles in a list -->

  <div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
  </div>



<div class="row">


<div class="col-sm-8 blog-main">

  <div class="blog-post" ng-repeat="post in postdata">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{post.date}} | <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{post.author.name}}</a> | <button class="btn btn-default btn-sm" ng-click="toggle()">{{post.comments.length}} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> comentarios</button></p>
    <div ng-bind-html="post.content">
    </div>
    <hr>
    <div ng-show="show">
      <blockquote ng-repeat="comment in comments">
        <p>{{comment.body}}</p>
        <footer>
          Comment by
          <a ng-if="!comment.anonymous" href="mailto:{{comment.email}}">{{comment.email}}</a>
          <em ng-if="comment.anonymous">Anonymous</em>
          on <span>{{comment.date | date : 'medium'}}</span>
        </footer>
      </blockquote>
      <hr>
    </div>

  </div>

</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">

  <div class="sidebar-module" ng-controller="categoriesController">
    <h4>Categorias</h4>
    <ol class="list-unstyled">
      <li ng-repeat="categorie in categories"><a href="#/{{categorie.slug}}">{{categorie.title}} </a> <span class="badge">{{categorie.post_count}}</span></li>
    </ol>
  </div>

</div>

</div>

</div>
